body {
    padding-top:62px;
}
h2 img {
    max-width:50%;
}
.article {
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    clear:right;
    float:left;
    margin-bottom:1.5%;
    min-height:350px;
}
.article-inner {
    background-color: rgba(255, 255, 255, 0.9);
    padding:1em;
    min-height:350px;
}
.date {
    float:right;
}
.lead {
    clear:both;
}
#map-canvas {
    width:100%;
    height:200px;
}
.media img {
    border:1px solid black;
    max-width:100%;
}
form {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
form .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
}
form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
form .form-control:focus {
    z-index: 2;
}
form input[name="name"],
.form-profile input[name="new_password"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-profile input[name="new_password_again"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-profile input[name="email"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
hr {
    border:1px inset white;
}
.success {
    color:green;
}
input.error {
    border-color:red;
}
p.error {
    color:red;
}
/* Pagination */
ul.pagination {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
ul.pagination li {
    display: inline;
}
ul.pagination li:first-child a,
ul.pagination li:first-child span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
ul.pagination li.active,
ul.pagination li.active a,
ul.pagination li.active a:hover {
    color: rgb(153, 153, 153);
    cursor: default;
    background-color: rgb(245, 245, 245);
    border-color: rgb(221, 221, 221);
}
ul.pagination li a, ul.pagination li span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
ul.pagination li span.ellipsis:hover {
    cursor: default;
    background-color: white;
}
