body {
    padding-top:62px;
}
h2 img {
    max-width:50%;
}
.article {
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    clear:right;
    float:left;
    margin-bottom:1.5%;
    min-height:350px;
}
.article-inner {
    background-color: rgba(255, 255, 255, 0.9);
    padding:1em;
    min-height:350px;
}
.date {
    float:right;
}
.lead {
    clear:both;
}
#map-canvas {
    width:100%;
    height:200px;
}
.media img {
    border:1px solid black;
    max-width:100%;
}
form {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
form .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
}
form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
form .form-control:focus {
    z-index: 2;
}
form input[name="name"],
.form-profile input[name="new_password"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-profile input[name="new_password_again"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-profile input[name="email"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
hr {
    border:1px inset white;
}
.success {
    color:green;
}
input.error {
    border-color:red;
}
p.error {
    color:red;
}
ul.pagination {
    width: 100%;
}
div.body,
p.lead {
    font-size:1.5em;
    margin-top:1em;
}
.carousel-inner {
    text-align: center;
}
fieldset.form-group {
    margin-top: 3em;
}
