body {
    padding-top:50px;
}
h2 img {
    max-width:50%;
}
.article {
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    clear:right;
    float:left;
    margin-bottom:1.5%;
    min-height:350px;
}
.article-inner {
    background-color: rgba(255, 255, 255, 0.9);
    padding:1em;
    min-height:350px;
}
.date {
    float:right;
}
.lead {
    clear:both;
}
#map-canvas {
    width:100%;
    height:200px;
}
.media img {
    border:1px solid black;
    max-width:100%;
}
