{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <h2>
                &iquest;Cuál es el problema?
            </h2>
            <p>
                Hoy los sitios web de diarios sufren de uno (o todos) los siguientes problemas:
            </p>

            <h3>
                Un único punto de vista
            </h3>
            <p>
                Los diarios, como todos sabemos, tienen una inclinación política. Esto no es
                contrario a decir que sean independientes y objetivos, pueden serlo, y aún tener
                un enfoque en ciertos temas que dejan afuera muchos otros temas que uno considera
                importantes.
            </p>

            <h3>
                Exceso de publicidad
            </h3>
            <p>
                Es entendible que un diario precise de publicidad para subsistir, pero han llegado
                a extremos donde uno debe hacer un esfuerzo para leer los artículos. Banners
                realmente molestos que lo siguen a uno mientras lee la noticia, intentando distraer
                nuestra atención del texto hace que sea muy difícil leer por más de 1 o 2 minutos.
            </p>

            <h3>
                Obsesión sin sentido por cantidad de visitas
            </h3>
            <p>
                Muchos (quizás todos) los portales de noticias tienen algún tipo de conteo invisible
                de visitas. Puede ser un dato interestante, pero es la mayoría de los casos es un
                dato completamente vacío porque no se hace nada con él. Es pornografía de datos, el
                placer de observar los datos sin analizarlos. Se busca la satisfacción inmediata de
                ver los números crecer, el dato es el fin en si mismo.
            </p>

            <h3>
                Entregar ingenuamente información personal a corporaciones
            </h3>
            <p>
                Con el fin de obtener las estadísticas de visitas, los diarios colocan código en sus
                sitios que le avisan a la empresa que los procesa (Google en la inmensa mayoría de
                los casos) qué página se está viendo. Esto significa que dicha empresa tiene un
                perfil de cada uno de nosotros muy detallado de todo lo que hacemos en la web,
                incluso de qué leemos diariamente.
            </p>
            <p>
                Esto no solo sucede con Google, sino con Facebook, Twitter, y todos los botones de
                redes sociales mediante los cuales el diario intenta alentarnos a compartir sus
                contenidos. Además hay un montón de otros "servicios" que no vemos los cuales también
                están siendo informados de nuestros hábitos.
            </p>
        </div>

        <div class="col-xs-12 col-lg-6">
            <h2>
                &iquest;Qué es Blatt?
            </h2>
            <p>
                Blatt es un experimento, una forma diferente de ver la prensa escrita. Como todo
                experimento, comienza con una hipótesis. Blatt asume que los medios escritos no
                entienden cómo funciona Internet. Están sub-utilizando las posibilidades e intentan
                adaptar este nuevo medio a su antigua forma de trabajo.
            </p>
            <p>
                Si bien algunos medios muestran hacer mejor uso que otros de la herramienta, es
                claro que aún quedan muchas posibilidades no explotadas. Blatt intenta darle al
                lector la libertad de leer los diarios en la forma que prefiera.
            </p>

            <h2>
                Blatt es Software Libre
            </h2>
            <p>
                Puedes descargar el <a href="https://github.com/tooxie/blatt">código fuente de Blatt</a>
                y adaptarlo a tus necesidades. No olvides compartir las mejoras que hagas, así
                construímos una mejor plataforma de noticias entre todos.
            </p>
        </div>
    </div>
{% endblock %}
