{% extends "base.html" %}
{% block content %}
    <h1>
        {{ publication.name }}
    </h1>
    <p>
        <a href="{{ publication.url }}">{{ publication.url }}</a>
    </p>
    <div class="visible-xs">
        {{ pagination }}
    </div>
    <div class="row">
        {% for article in articles %}
            <div class="col-xs-12 col-md-4 col-lg-4 article" style="background-image:url({{ article|get_image }})">
                <div class="article-inner">
                    <div>
                        <span class="date">{{ article.publication_date|untime }}</span>
                        <div class="authors">
                            {% for author in article.authors %}
                                <div class="author">{{ author.name|twitterify|safe }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <h2>
                        <a href="/{{ publication.slug }}/{{ article.title|slugify }}/{{ article.pk }}">{{ article.title }}</a>
                    </h2>
                    <p class="lead">
                        {{ article|get_lead }}
                    </p>
                    <p>
                        <a href="{{ article.url }}">{{ article.url }}</a>
                    </p>
                </div>
            </div>
            {% if loop.index is divisibleby 3 %}
                <div class="clearfix visible-md visible-lg"></div>
            {% endif %}
        {% endfor %}
    </div>

    {{ pagination }}
{% endblock %}
