{% extends "base.html" %}
{% block content %}
    <h1>
        {{ article.title }}
    </h1>
    {{ social_buttons(article) }}
    <p>
        {% if article.authors %}
            Por
            {% for author in article.authors %}
                {% if loop.index > 1 %} y {% endif %}
                <a class="author" href="/journalist/{{ author.name|slugify }}/{{ author.pk }}">{{ author.name|twitterify|safe }}</a>
            {% endfor %}<br>
        {% endif %}
        {{ article.publication_date|untime }}
    </p>
    {% if article.deck %}
        <p class="deck">
            {{ article.deck }}
        </p>
    {% endif %}

    {{ carousel(article) }}

    {% if article.lead %}
        <p class="lead">
            {{ article.lead }}
        </p>
        <hr>
    {% endif %}
    <div class="body">
        {{ article.body|markdown|safe }}
    </div>

    {{ social_buttons(article) }}
    <p>
        <a href="{{ article.url }}">{{ article.url }}</a>
    </p>

    {% if map %}
        {{ map.render()|safe }}
    {% endif %}

    <!-- Publication -->
    <h2>
        {{ publication.name }}
    </h2>
    <p>
        <a href="{{ publication.url }}">{{ publication.url }}</a>
    </p>
{% endblock %}
