<!DOCTYPE html>
<html>
    <head>
        <title>Blatt</title>
        <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Blatt</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% for newspaper in get_publications() %}
                            <li{% if publication == newspaper %} class="active"{% endif %}>
                                <a href="/{{ newspaper.slug }}">{{ newspaper.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="navbar-right navbar-form btn-group">
                        {% if current_user.is_anonymous() %}
                            <a href="/login/" class="btn btn-default">Entrar</a>
                            <a href="/signup/" class="btn btn-default btn-success">Registrarse</a>
                        {% else %}
                            <a href="/logout/" class="btn btn-default">Salir</a>
                            <a href="/profile/" class="btn btn-default btn-success">{{ current_user.email }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <div class="container">
            <hr>
            <div id="footer">
                &copy; 2013 Whatever.<br>
                <a href="https://github.com/tooxie/blatt">Blatt</a> es
                <a href="https://es.wikipedia.org/wiki/Software_libre">Software Libre</a>.
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    </body>
</html>
