<!-- Map -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&sensor=false&language=es"></script>
<script type="text/javascript">
    function initialize() {
        var point = new google.maps.LatLng('{{ latitude }}', '{{ longitude }}');
        var mapOptions = {
            center: point,
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var marker = new google.maps.Marker({
            position: point,
            map: map,
            title: "{{ title }}"
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"></div>
