{% extends "clean.html" %}
{% block content %}
    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">
            Ingresar
        </h2>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p class="error">
                    {{ message }}
                </p>
            {% endfor %}
        {% endwith %}

        {{ form.email }}
        {% for error in form.email.errors %}
            <p class="error">
                {{ error }}
            </p>
        {% endfor %}

        {{ form.password }}
        {% for error in form.password.errors %}
            <p class="error">
                {{ error }}
            </p>
        {% endfor %}

        {{ form.remember_me }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

        <p>
            &iquest;No tiene usuario? <a href="{{ url_for('signup') }}">Regístrese</a> en pocos segundos.
        </p>
    </form>
{% endblock %}
