{% extends "base.html" %}
{% block page_title %}Tu perfil{% endblock %}
{% block content %}
    <h1>
        Tu perfil
    </h1>
    <div class="form-profile col-xs-12 col-sm-6 col-lg-4">
        <h2>
            Mis datos
        </h2>
        <form method="POST">
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <p class="success">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endwith %}

            {{ form.name }}
            {% for error in form.name.errors %}
                <p class="error">
                    {{ error }}
                </p>
            {% endfor %}

            {{ form.email }}
            {% for error in form.email.errors %}
                <p class="error">
                    {{ error }}
                </p>
            {% endfor %}

            <h2>
                Cambiar password
            </h2>
            {{ form.new_password }}
            {% for error in form.new_password.errors %}
                <p class="error">
                    {{ error }}
                </p>
            {% endfor %}

            {{ form.new_password_again }}
            {% for error in form.new_password_again.errors %}
                <p class="error">
                    {{ error }}
                </p>
            {% endfor %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
        </form>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-8">
        <h2>
            Te gusta
        </h2>
        <ul>
            {% for article in current_user.get_liked_articles(20) %}
                <li>
                <a href="{{ url_for('article', publication_slug=article.publication.slug, article_slug=article.title|slugify, article_pk=article.pk) }}">{{ article.title }}</a>
                    ({{ article.publication.name }})
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="clearfix"></div>

    <h1>
        Tu propio diario
    </h1>
    <div class="col-xs-12 col-sm-6 col-lg-8">
        {% if not sources %}
            <p>
                Armá tu propio diario. Recibí en tu correo diariamente las noticias que te
                interesan, en el formato que quieras. Texto, HTML o mobi. Es muy simple:
            </p>
        {% endif %}
        <a href="{{ url_for('my_journal') }}" class="btn btn-lg btn-primary">Crear diario &gt;&gt;</a>
    </div>
{% endblock %}
