{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>
            Blatt
        </h1>
        <p>
            No leas un diario, informate.
        </p>
        <p>
            Blatt intenta atacar distintos problemas identificados en la prensa escrita y
            proveer una posible solución. Al mismo tiempo, si esa solución no te satisface,
            Blatt te proporciona todas las herramientas para que crees una alternativa vos
            misma/o.
        </p>
        <p>
            <a href="/about/" class="btn btn-primary btn-lg">&iquest;Querés saber más?</a>
        </p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        {% for publication in publications %}
        <div class="col-lg-4">
            <h2>
                <a href="/{{ publication.slug }}"><img src="{{ publication.logo }}" alt="{{ publication.name }}" title="{{ publication.name }}"></a>
            </h2>
            <p>
                <a class="btn btn-default" href="/{{ publication.slug }}">Ver artículos &raquo;</a>
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
