{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>
            {{ site_name }}
        </h1>
        <p>
            No leas un diario, informate.
        </p>
        <p>
            {{ site_name }} intenta atacar distintos problemas identificados en la prensa escrita y
            proveer una posible solución. Al mismo tiempo, si esa solución no te satisface,
            {{ site_name }} te proporciona todas las herramientas para que crees una alternativa vos
            misma/o.
        </p>
        <p>
            <a href="{{ url_for('about') }}" class="btn btn-primary btn-lg">&iquest;Querés saber más?</a>
        </p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        {% for publication in get_publications() %}
        <div class="col-xs-12 col-md-4 col-lg-4">
            <h2>
                <a href="{{ url_for('publication', slug=publication.slug) }}"><img src="{{ publication.logo }}" alt="{{ publication.name }}" title="{{ publication.name }}"></a>
            </h2>
            <p>
                <a class="btn btn-default" href="{{ url_for('publication', slug=publication.slug) }}">Ver artículos &raquo;</a>
            </p>
        </div>
        {% if loop.index is divisibleby 3 %}
            <div class="clearfix visible-md visible-lg"></div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
