{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>
                Blatt
            </h1>
            <p>
                This is a template for a simple marketing or informational website. It includes a large
                callout called the hero unit and three supporting pieces of content. Use it as a starting
                point to create something more unique.
            </p>
            <!--
            <p>
                <a class="btn btn-primary btn-lg">Learn more &raquo;</a>
            </p>
            -->
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for publication in publications %}
            <div class="col-lg-4">
                <h2>
                    {{ publication.name }}
                </h2>
                <p>
                    Hola
                </p>
                <p><a class="btn btn-default" href="/{{ publication.slug }}">View articles &raquo;</a></p>
            </div>
            {% endfor %}
        </div>

        <hr>
        <footer>
            <p>&copy; 2013 Whatever</p>
        </footer>
    </div>
{% endblock %}
