{% extends "clean.html" %}
{% block content %}
    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">
            Registrarse
        </h2>
        {{ form.email }}
        {% for error in form.email.errors %}
            <p class="error">
                {{ error|safe }}
            </p>
        {% endfor %}

        {{ form.password }}
        {% for error in form.password.errors %}
            <p class="error">
                {{ error|safe }}
            </p>
        {% endfor %}
        <button class="btn btn-lg btn-success btn-block" type="submit">Registrarme</button>
    </form>
{% endblock %}
