<form action="{{ url_for('social') }}?next={{ request.script_root + request.path }}" method="POST">
    {% for field in form %}
        {{ field }}
    {% endfor %}

    {% if current_user.is_anonymous() %}
        <button class="btn btn-default" name="like">
            <i class="fa fa-thumbs-o-up"></i> Me gusta este artículo
        </button>
    {% else %}
        {% if current_user.likes(article) %}
            <button class="btn btn-default" name="like">
                <i class="fa fa-thumbs-up"></i> Te gusta
            </button>
        {% else %}
            <button class="btn btn-default" name="like">
                <i class="fa fa-thumbs-o-up"></i> Me gusta este artículo
            </button>
        {% endif %}
    {% endif %}
</form>
